body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-text {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Open sans';
}

.header-logo {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Festive';
}

.title-text {
  font-size: 2.5rem;
  font-family: 'Lora';
  font-weight: 700;
}

.sub-text{
  font-size: 0.9rem;
  color: #B5B5B5;
  text-transform: uppercase;
  font-family: 'Open sans';
}

.sub-title {
  font-size: 1.2rem;
  font-family: 'Lora';
  font-weight: 700;
  text-align: left;
  line-height: 30px;
}

.sub-text-right{
  font-size: 0.9rem;
  color: #B5B5B5;
  text-transform: uppercase;
  font-family: 'Open sans';
  text-align: right;
}

.sub-title-right {
  font-size: 2.5rem;
  font-family: 'Lora';
  font-weight: 700;
  text-align: right;
  line-height: 30px;
}

.sub-title-right-normal {
  font-size: 1rem;
  font-family: 'Lora';
  font-weight: 700;
  text-align: right;
  line-height: 30px;
}

.hero-image {
  border-radius: 200px;
}

.hero-line{
  border: 1px solid #EDEDED;
  border-radius: 200px;
  padding: 10px;
}

.hero-line-smaller {
  border: 1px solid #EDEDED;
  border-radius: 100%;
  padding: 4px;
  width: 100%;
  height: auto;
  display: none;
}

.divider {
  border-bottom: 1px solid black;
  width: 100%;
}


.adv-box{
  background-color: #F3F3F3;
  border-radius: 100px;
}



.adv-image{
  filter: grayscale(100%);
  transition: filter 0.25s;
}

.adv-image:hover{
  filter: grayscale(0%);
}

.adv-p{
  font-family: 'Lora';
  font-size: 2rem;
  font-weight: 600;
}


.e-text{
  font-size: 1.2rem;
  font-family: 'Lora';
  font-weight: 600;
}

.p-text {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Lora';
}